html {
  height: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.flex-container {
  display: flex;
  align-items: baseline;
}
.flex-container-col {
  display: flex;
  flex-direction: column;
}
body {
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-top: 51px;
  background-color: #eee;
}
body trem {
  height: 100%;
}
body trem .panel-more {
  color: white;
  font-weight: bold;
  margin-right: 8px;
}
body trem .player-good ng-binding {
  color: #00C703;
}
body trem .player-hurt ng-binding {
  color: #D81300;
}
body trem .player-tired ng-binding {
  color: #d86900;
}
body trem .noPad {
  padding: 0 0 10px 0;
  margin: 10px 0 0 0 ;
}
body trem team-view .flex-container-col {
  justify-content: center;
  display: flex;
  height: 350px;
}
body trem team-view .post {
  flex: 1;
}
body trem team-view player-post .fa-plus-circle {
  padding: 0 1.5em 0 0;
  font-size: 5em;
}
body trem team-creat player-post .icon {
  font-size: 3em;
}
body trem dashboard .loc.open {
  margin-bottom: 1em;
}
body trem dashboard .match {
  margin-bottom: 1em;
}
body trem .playersTable {
  float: left;
  width: 50%;
  display: table;
  padding: 1em;
  border-top: 1px solid #ccc;
}
body trem .playersTable .player {
  padding: 1em 0 1em 0  ;
  border: 1px solid #ccc;
  border-radius: 3px;
}
body trem .playersTable .player ng-transclude {
  flex: 1;
  text-align: center;
}
body trem .playersTable .player i {
  flex: 1;
  text-align: center;
}
body trem .playersTable .player #text {
  flex: 4;
  text-align: center;
  padding-left: 15px;
}
body trem .playersTable .player .post {
  flex: 3;
  text-align: center;
}
body trem .playersTable .fa-thumbs-up {
  color: #09ab09;
  font-size: 1.5em;
}
body trem .playersTable .fa-medkit {
  color: #dc0600;
  font-size: 1.5em;
}
body trem .playersTable .fa-power-off {
  color: #dc8700;
  font-size: 1.5em;
}
body trem .playersTable .fa-search-plus {
  font-size: 1.5em;
  padding: 3px 2px 3px 2px;
}
body trem .playersTable .ng-scope .condition {
  border-right: 1px solid #ccc;
}
body trem .player-view-header-text {
  color: black;
}
body trem navig + .container-fluid {
  padding: 8px;
  top: 50px;
  background-color: #eee;
}
body trem .container {
  height: 100%;
  width: 80%;
  margin: auto;
  padding-bottom: 15px;
  background-color: ghostwhite;
  box-shadow: 0px 0px 8px black;
}
body trem select-team .equipeList .badge {
  margin-left: 5px;
}
body trem select-team h1 {
  text-align: center;
}
body trem select-team ul {
  list-style: none;
}
body trem select-team #createTeam {
  width: 25%;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
body trem select-team .equipeList {
  list-style: none;
  display: flex;
}
body trem select-team .equipeList li {
  margin-right: 5vw;
}
body trem select-team .equipeList li a {
  padding-left: 8px;
}
body trem select-team .equipeList li a:hover {
  text-decoration: none;
  background-color: #1f4a70;
}
body trem select-team .equipeList li a:visited {
  text-decoration: none;
}
body trem select-team .equipeList li a:active {
  box-shadow: inset 0px 0px 8px black;
}
.navbar li i {
  margin-right: 4px;
}
@media (max-width: 868px) {
  .navbar .container {
    width: 100%;
  }
  .navbar .navbar-header {
    float: none;
  }
  .navbar .navbar-left,
  .navbar .navbar-right {
    float: none !important;
  }
  .navbar .navbar-toggle {
    display: block;
  }
  .navbar .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar .navbar-nav {
    margin-top: 7.5px;
  }
  .navbar .navbar-nav > li {
    float: none;
  }
  .navbar .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar .collapse.in {
    display: block !important;
  }
}
player-create .modal-body form,
player-create .modal-body .chart-area {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}
player-create .modal-body form {
  max-height: 500px;
  border-right: 1px solid #eee;
  padding-right: 8px;
  overflow: auto;
}
