html {
  height: 100%;
}
body {
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-top: 51px;
  background-color: #8dd9ff;
}
body trem {
  height: 100%;
}
body trem .panel-more {
  color: white;
  font-weight: bold;
  margin-right: 8px;
}
body trem .player-good {
  color: #00C703;
  background-color: lightgreen;
}
body trem .player-hurt {
  color: #D81300;
  background-color: palevioletred;
}
body trem .player-tired {
  color: #d86900;
  background-color: lightsalmon;
}
body trem .noPad {
  padding: 0 0 10px 0;
  margin: 10px 0 0 0 ;
}
body trem .playersTable {
  float: left;
  width: 50%;
}
body trem .player-view-header-text {
  color: black;
}
body trem navig + .container-fluid {
  padding: 8px;
  top: 50px;
  background-color: #8dd9ff;
}
body trem .container {
  height: 100%;
  width: 80%;
  margin: auto;
  padding-bottom: 15px;
  background-color: ghostwhite;
  box-shadow: 0px 0px 8px black;
}
body trem select-team .equipeList .badge {
  margin-left: 5px;
}
body trem select-team h1 {
  text-align: center;
}
body trem select-team ul {
  list-style: none;
}
body trem select-team #createTeam {
  width: 25%;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
body trem select-team .equipeList {
  list-style: none;
  display: flex;
}
body trem select-team .equipeList li {
  margin-right: 5vw;
}
body trem select-team .equipeList li a {
  padding-left: 8px;
}
body trem select-team .equipeList li a:hover {
  text-decoration: none;
  background-color: #ffd17f;
}
body trem select-team .equipeList li a:visited {
  text-decoration: none;
}
body trem select-team .equipeList li a:active {
  box-shadow: inset 0px 0px 8px black;
}
.navbar li i {
  margin-right: 4px;
}
@media (max-width: 868px) {
  .navbar .container {
    width: 100%;
  }
  .navbar .navbar-header {
    float: none;
  }
  .navbar .navbar-left,
  .navbar .navbar-right {
    float: none !important;
  }
  .navbar .navbar-toggle {
    display: block;
  }
  .navbar .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar .navbar-nav {
    margin-top: 7.5px;
  }
  .navbar .navbar-nav > li {
    float: none;
  }
  .navbar .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar .collapse.in {
    display: block !important;
  }
}
