<div flex layout="column">
    <md-toolbar layout="row" class="md-toolbar-tools">
        <md-button ng-click="menuOpened = !menuOpened" class="md-icon-button"><i class="fa fa-2x fa-bars"
                                                                                 aria-hidden="true"></i>
        </md-button>
        <h1>Gestion des joueurs - {{players.team.name}}</h1>
        <span flex></span>
        <md-button ng-click="players.showDialog($event, 'playerCreate')">
            <i class="fa fa-plus"></i>
            Ajouter un joueur
        </md-button>
        <player-create team-id="players.team._id"></player-create>
    </md-toolbar>

    <navig current-team="players.team" menu-opened="menuOpened"></navig>

    <md-content flex layout="column" layout-padding md-scroll-y>
        <md-list>
            <md-list-item ng-repeat="player in players.team.Players">
                <div flex class="md-list-item-text">
                    <player-row player="player"></player-row>
                </div>
                <md-button class="md-secondary" ng-click="players.showDialog($event, player._id)">
                    <i class="fa fa-2x fa-pencil"></i>
                </md-button>
                <md-divider ng-if="!$last"></md-divider>
                <player-update team-id="players.team._id" player="player"></player-update>
            </md-list-item>
        </md-list>
    </md-content>
</div>