<div flex layout="column">
    <md-toolbar layout="row" class="md-toolbar-tools">
        <md-button ng-hide="dashboard.$mdMedia('gt-md')" ng-click="menuOpened = !menuOpened" class="md-icon-button"><i class="fa fa-2x fa-bars"
                                                                                 aria-hidden="true"></i>
        </md-button>
        <h1>Evénements à venir - {{dashboard.team.name}}</h1>
        <span flex></span>
        <md-button ng-click="showDialog($event, 'playerCreate')">
            <i class="fa fa-plus"></i>
            Créer un événement
        </md-button>
		<event-create team-id="team._id"></event-create>
    </md-toolbar>

    <div flex layout="row">
        <navig layout="column" lock-open="lockOpen" current-team="dashboard.team" menu-opened="menuOpened"></navig>

        <md-content flex layout="column" layout-padding md-scroll-y>
            <div id="calendar"></div>
            <md-list>
                <md-list-item ng-repeat="event in dashboard.team.Events">
                    <div flex class="md-list-item-text">
                        <h3>{{event.date | date }} - {{event.type}}</h3>
                        <h4>{{event.city}} - {{event.location}}</h4>
                        <div ng-switch="event.type" ng-show="detail">
                            <div ng-switch-when="match">
                                <div class="match">{{dashboard.team._id}} / {{event.team_b}} - {{event.duration | date :
                                    "hh:mm"}}
                                </div>
                                <md-list>
                                    <md-list-item ng-class="'row-' + eventPlayer.confirmed"
                                                  ng-repeat="eventPlayer in event.Players"
                                                  ng-init="player=dashboard.findPlayer(eventPlayer.player)">
                                        <md-button ng-click="dashboard.showDialog($event, player._id)">
                                            <i class="fa fa-2x fa-search-plus"></i>
                                        </md-button>
                                        <md-input-container>
                                            <label>Participe ?</label>
                                            <md-select ng-model="eventPlayer.confirmed"
                                                       ng-change="dashboard.updateParticipation($parent.$index, $index, eventPlayer.confirmed)"
                                                       style="min-width: 150px;">
                                                <md-option ng-value="'wait'">En attente</md-option>
                                                <md-option ng-value="'wont'">Pas disponible</md-option>
                                                <md-option ng-value="'will'">Participera</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <div flex class="md-list-item-text">
                                            <player-row player="player"></player-row>
                                        </div>
                                        <player-view player="player"></player-view>
                                        <md-divider ng-if="!$last"></md-divider>
                                    </md-list-item>
                                </md-list>
                            </div>
                            <div ng-switch-when="training">

                            </div>
                        </div>
                    </div>
                    <md-button class="md-secondary" ng-click="detail = !detail">
                        <i class="fa fa-3x" ng-class="{'fa-angle-down':!detail, 'fa-angle-up':detail}"></i>
                    </md-button>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>