<nav-header ></nav-header>

<div class="container">
    <div class="page-header">
        <h1>Evenements à venir - </h1>
        <a ng-href="/{{dashboard.team._id}}/NewEvent">
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter nouvel event
        </button>
        </a>
    </div>
    <div ng-repeat="event in dashboard.team.Events" class="panel" ng-class="{'panel-primary' : event.type == 'match','panel-success' : event.type == 'training'}" >
        <div class="panel-heading">
            <h3 class="panel-title">{{event.date | date }} - {{event.type}}
                <a href="#" class="panel-more pull-left" ng-click="details = !details"><i class="fa" ng-class="{'fa-minus' : details, 'fa-plus' : !details}"></i></a>
            </h3>
        </div>
        <div class="panel-body">
            Lieu  : {{event.location}}
            <div ng-show="details">
                <div ng-switch="event.type">
                    <div ng-switch-when="match">
                    {{dashboard.team._id}} / {{event.team_b}}
                    </br>
                    <span>Durée = {{event.duration | date : "hh:mm"}}</span>

                       <table class="table playersTable">
                           <tr>
                               <th>{{dashboard.team._id}}</th>

                           </tr>
                           <tr ng-repeat="player in dashboard.team.Players">
                               <td><player-row player="player"></player-row></td>
                           </tr>
                       </table>

                        <table class="table playersTable">
                            <tr>
                                <th>{{event.team_b}}</th>

                            </tr>
                            <tr ng-repeat="player in event.Players">
                                <td>{{player.player}}</td>
                            </tr>

                        </table>

                    </div>
                    <div ng-switch-when="training">

                    </div>
                </div>
            </div>
        </div>
     </div>

</div>