node_modules/

.idea/libraries/meteor_packages_auto_import_browser.xml
.idea/libraries/meteor_packages_auto_import_npm.xml
.idea/workspace.xml
.idea/libraries/meteor_packages_auto_import_browser.xml
.idea/workspace.xml
.idea/watcherTasks.xml

.idea/workspace.xml
*.xml
.idea/workspace.xml
.idea/workspace.xml
client/main.css
.idea/workspace.xml
client/main.css
.idea/workspace.xml
