<nav role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">

        <!-- Title -->
        <div class="navbar-header pull-left">
            <a href="/" class="navbar-brand">PFE Trem</a>
            <ul class="nav navbar-nav pull-left">
                <li class="dropdown pull-left">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Equipe A <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Equipe B</a></li>
                        <li><a href="#">Equipe C</a></li>
                        <li><a href="#">Equipe D</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="navbar-header">
            <!-- Required bootstrap placeholder for the collapsed menu -->
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span>
            </button>
        </div>

        <!-- Additional navbar items -->
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i>Tableau de bord</a></li>
                <li><a href="#"><i class="fa fa-flag" aria-hidden="true"></i>Gestion de l'équipe</a></li>
                <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i>Gestion des joueurs</a></li>
                <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>Statistiques</a></li>
            </ul>
        </div>
    </div>
</nav>