<div class="modal fade" id="playerCreate-Pop" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="player-view-header-text modal-header">
                Création d'un joueur
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Nom</label>
                        <input ng-model="playerCreate.player.lastName" type="text" class="form-control"
                               id="exampleInputPassword1" placeholder="Nom du joueur">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Prénom</label>
                        <input ng-model="playerCreate.player.firstName" type="text" class="form-control"
                               id="exampleInputEmail1" placeholder="Prénom du joueur">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Statistiques</label>
                        <div class="input-group">
                            <input ng-model="playerCreate.statToAdd" type="text" class="form-control"
                                   placeholder="Nom de la statistique">
                            <span class="input-group-btn">
                                <button ng-click="playerCreate.addStat()" class="btn btn-primary" type="button">Ajouter la statistique</button>
                              </span>
                        </div>
                    </div>
                    <div ng-repeat="stat in playerCreate.player.Stats" class="form-group">
                        <button ng-click="playerCreate.removeStat(stat)" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                        <label>{{stat.name}}</label>
                        <rzslider
                                rz-slider-model="stat.value"
                                rz-slider-options="playerCreate.sliderOptions"></rzslider>
                    </div>
                </form>
                <div ng-switch on="playerCreate.player.Stats.length" class="chart-area">
                    <div ng-switch-when="0">
                        Ajoutez des statistiques au joueur pour générer son graphique.
                    </div>

                    <div ng-switch-default>
                        <player-stat-chart player="playerCreate.player"></player-stat-chart>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Créer</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>