<navig currentteam="teamView.team"></navig>


<div class="container-fluid">
    <div class="container flex-container flex-container-center ">
        <div class="teamView flex-1">
            <div class="soccerfield-field-field-img" >
                <div class="flex-container flex-container-center">
                    <div class="flex-container-col" ng-repeat="line in teamView.Formation">
                        <div class="post" ng-class="{ 'disabled' : post.disabled}"  ng-repeat="post in line.rows">
                            <player-post post="post" team="teamView.team"></player-post>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

    .as-sortable-dragging {
        border: 1px dotted #000 !important;
        position: relative;
    }
</style>

