<navig currentteam="teamView.team"></navig>

<div class="teamView container">

    <ul dnd-list="list" class="list-group">
        <li  draggable="true" ng-repeat="player in teamView.team.Players">

            <span class="poste">
                {{player.post}}
            </span>
            <div class="name">
                {{player.firstname}} {{player.lastname}}
            </div>
        </li>
    </ul>
    <li  draggable="true" >
        toto
    </li>

    <div class="field">
        <div class="field-row field-F">
            <div class="fieldPost " ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
            <div class=" fieldPost " ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
            <div class=" fieldPost " ondrop="drop(event)" ondragover="allowDrop(event)">

            </div>
            <div class="fieldPost" ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
            <div class="fieldPost" ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
        </div>
        <div class="field-row field-AM">
            <div class="fieldPost " ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
            <div class=" fieldPost " ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
            <div class=" fieldPost " ondrop="drop(event)" ondragover="allowDrop(event)">

            </div>
            <div class="fieldPost" ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
            <div class="fieldPost" ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
        </div>
        <div class="field-row field-M">
            <div class="fieldPost " ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
            <div class=" fieldPost " ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
            <div class=" fieldPost " ondrop="drop(event)" ondragover="allowDrop(event)">

            </div>
            <div class="fieldPost" ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
            <div class="fieldPost" ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
        </div>
        <div class="field-row field-DM">
            <div class="fieldPost " ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
            <div class=" fieldPost " ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
            <div class=" fieldPost " ondrop="drop(event)" ondragover="allowDrop(event)">

            </div>
            <div class="fieldPost" ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
            <div class="fieldPost" ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
        </div>
        <div class="field-row field-B">
            <div class="fieldPost " ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
            <div class=" fieldPost " ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
            <div class=" fieldPost " ondrop="drop(event)" ondragover="allowDrop(event)">

            </div>
            <div class="fieldPost" ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
            <div class="fieldPost" ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
        </div>
        <div class="field-row field-GK">
            <div class="fieldPost" ondrop="drop(event)" ondragover="allowDrop(event)" >

            </div>
        </div>
    </div>

</div>

<style>

    .teamView  .fieldPost{
        width : 18%;
        height : 50px;
        border: 1px solid black;
        display: inline-block;
    }

    .field-row {
        text-align: center;
    }
</style>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>